.nimble-monster-tracker .nimble-wounds-list,
.nimble-sheet .nimble-wounds-list {
  position: absolute;
  top: 50%;
  left: var(--nimble-wounds-left, 0.625rem);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: auto;
  max-height: var(--nimble-wounds-max-height, calc(100% - 0.5rem));
  width: fit-content;
  max-width: calc(100% - 0.5rem);
  background: transparent;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  overflow: hidden;

  &--centered {
    justify-content: center;
  }

  &__button {
    --button-size: fit-content;

    display: flex;
    opacity: var(--nimble-wound-button-opacity, 0);
    margin: 0;
    padding: var(--nimble-wound-button-padding, 0.375rem);
    width: fit-content;
    font-size: var(--nimble-wound-button-size, var(--nimble-md-text));
    color: #303030;
    -webkit-text-stroke: 1px #acacac;
    border: 0;
    background: transparent;
    transition: var(--nimble-standard-transition);
    filter: drop-shadow(0 0 4px #000);
    cursor: pointer;
    pointer-events: var(--nimble-wound-button-point-events, none);

    &:focus,
    &:hover {
      color: #303030;
      -webkit-text-stroke: 1px #acacac;
      background: transparent;
      box-shadow: none;
      outline: none;
      scale: 1.2;
    }

    &--active {
      --nimble-wound-button-opacity: 1;
      --nimble-wound-button-point-events: all;
      color: #b01b19;
      -webkit-text-stroke: 1px #fff;
    }

    &--active:focus,
    &--active:hover {
      color: #b01b19;
      -webkit-text-stroke: 1px #fff;
    }

    @starting-style {
      opacity: 0;
    }
  }

  &__icon {
    padding: 0;
    margin: 0;

    &::before {
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: contents;
  }
}

.system-nimble .nimble-sheet--player-character .nimble-wounds-list {
  top: calc(
    var(--nimble-actor-image-safe-top, 0) - var(--nimble-wound-button-padding, 0)
  );
  bottom: calc(
    var(--nimble-actor-image-safe-bottom, 0) - var(--nimble-wound-button-padding, 0)
  );
  height: auto;
  max-height: none;
  transform: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-block: var(--nimble-wounds-padding-block, 0);
}
